<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->


			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->        

			<div class="container-fluid">
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box yellow">
							<div class="portlet-title">
								<div class="caption"><i class="ico-table"></i>OG Data List</div>
								<div class="tools">
									<a href="javascript:;" class="collapse"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>

							<div class="portlet-body">
								<div class="clearfix">
									<div class="btn-group">
										<button id="sample_editable_1_new" class="btn blue">
										Add New <i class="icon-plus-sign"></i>
										</button>
										<button id="sample_editable_1_new" class="btn blue">
										Delete <i class="icon-trash"></i>
										</button>
									</div>
								</div>

								<table class="table table-striped table-bordered table-hover" id="sample_2">
									<thead>
										<tr>
											<th class="hidden-480">Name</th>
											<th>Description</th>
										</tr>
									</thead>							

									<tbody>

										<tr class="odd gradeX">


											<td class="hidden-480">QMG</td>

											<td>Data Analysis</a></td>


										</tr>

								        <tr class="odd gradeX">


											<td class="hidden-480">TSG</td>

											<td><a href="mailto:looper90@gmail.com">Data warehouse setup</a></td>


										</tr>

										<tr class="odd gradeX">


											<td>OG</td>

											<td class="hidden-480"><a href="mailto:userwow@yahoo.com">Merkle Orgnization</a></td>


										</tr>

										<tr class="odd gradeX">


											<td>OG</td>

											<td class="hidden-480"><a href="mailto:userwow@gmail.com">Merkle Organization</a></td>


										</tr>

										<tr class="odd gradeX">


											<td>OG</td>

											<td class="hidden-480"><a href="mailto:userwow@gmail.com">Merkle Orgnization</a></td>
										</tr>
										<tr class="odd gradeX">
											<td>OG</td>
											<td class="hidden-480"><a href="mailto:userwow@gmail.com">Merkle Orgnization</a></td>
										</tr>

									</tbody>


								</table>

							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

				</div>

				

				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->

		</div>