<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Merkle China, Sample App | <%= yield(:title) %></title>

	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application", media: "all"%>
	<%= csrf_meta_tags %>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="/assets/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="/assets/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link rel="stylesheet" type="text/css" href="/assets/media/css/select2_metro.css" />
	<link rel="stylesheet" href="/assets/media/css/DT_bootstrap.css" />
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="media/image/favicon.ico" />
</head>
<!-- END HEAD -->