<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar navbar-collapse collapse">

		<!-- BEGIN SIDEBAR MENU -->
		<ul class="page-sidebar-menu">
			<li class="start ">
				<a href="#"> <i class="icon-home"></i> <span class="title">Homepage</span> </a>
			</li>
						<li class="">
				<a href="#"> <i class="icon-tasks"></i> <span class="title">To Do List</span> </a>
			</li>

			<li class="">
				<a href="javascript:;"> <i class="icon-cogs"></i> <span class="title">Requisition</span> <span class="arrow "></span> </a>
				<ul class="sub-menu">
					<li >
					<a href="<% newjob_path %>"> New Requistion </a> 
					</li>
					<li >
						<a href="<%= jobapps_path%>"> Requisiton List </a>

					</li>
				</ul>

			</li>

			<li class="">

				<a href="javascript:;"> <i class="icon-group"></i> <span class="title">Candidate</span> <span class="arrow "></span> </a>

				<ul class="sub-menu">

					<li >

						<a href="#"> Candidate List</a>

					</li>

					<li >

						<a href="#"> Review </a>

					</li>

				</ul>

			</li>

			<li class="">

				<a href="javascript:;"> <i class="icon-cog"></i> <span class="title">Settings</span> <span class="arrow "></span> </a>

				<ul class="sub-menu">

					<li >

						<a href="#"> User Management </a>

					</li>

					<li >

						<a href="#"> Data Dictionary </a>

					</li>
				</ul>

			</li>

	
		</ul>

		<!-- END SIDEBAR MENU -->

	</div>
	<!-- END SIDEBAR -->
